.Create{
    background-color: black;
    margin-top: 10px;
    color: white;
    height: 75%;
    
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 80 0;

        .left-section{
            position: relative;

            .image-container{
                position: relative;
            }

            img{
                width: 450px;
                position: relative;
                z-index: 20;
            }
        }

        .right-section{
            width: 35%;
            padding-right: 20px;
        }

        h2{
            font-size: 48px;
                white-space: nowrap;
                font-weight: 700;
        }

        p{
            font-size: 24px;
            padding-top: 16px;

        }
    }
}