.row{
    margin-left: 20px;
    color:#fff;

}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    max-height: 205px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}
.smallPoster{
    max-height: 150px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.2s;
    
}
.poster:hover{
    transform: scale(1.05);
    filter: brightness(80%);
    
}
.smallPoster:hover{
    transform: scale(1.05);
    filter: brightness(80%);
}